.logo {
	@include flex(0 0 auto);
	font-family: Morpheus;
	margin-top: -5px; // fix this fonts weird height
	color: #000;
}

#status {
	padding: 0 .5em;
	font-size: .6em;
	text-align: center;
	color: #888;
}

.external-sites-icons {
	@include flex(0 0 auto);
	font-size: 1.2em;
	position: relative;
}

@include respond-to(tiny-screens) {
	.external-sites-icons-h { display: none; }
}

@include respond-to-more-than($break-tiny) {
	.external-sites-icons-v { display: none; }
}

#external-sites-dd + label {
	padding: 0;
	border: 0 none;
	cursor: pointer;

	transition: color .2s;

	&:hover {
		color: #666;
		background-color: transparent;
	}

	// overwrite non-checked checkbox default visibility
	i {
		visibility: visible;
	}
}

.external-sites-dd-items-wrap {
	position: absolute;
	top: 146%; // just a value that made it look good

	max-height: 0;
	overflow-y: hidden;

	transition: max-height .4s;

	#external-sites-dd:checked ~ & {
		max-height: 225px;
	}
}

.external-sites-dd-items {
	background-color: #fff;
	border: 1px solid $borderGrey;
	border-radius: 5px;
}
