@import "flexbox", "respond-to.scss", "variables.scss";

img {
	// Thanks to http://stackoverflow.com/a/22604736/1592377
	// without this, one gets additional whitespace in some places
	display: block;

	max-width: 100%;
	height: auto;
}

figure {
	@include display-flex;
	@include flex-direction(column);
	@include justify-content(space-around);

	max-width: 100%;

	width: 420px;
	height: auto;

	margin: .5em 1em 1.5em;

	text-align: center;

	&:empty {
		margin: 0 1em;
	}
}

ul, ol {
	padding-left: 2em;
}

table {
	border: 2px solid $borderColor;
	margin-left: 0.75em;
}

%flow-list {
	@include display-flex;
	@include flex-wrap(wrap);

	margin: 0 .35em;

	> div {
		margin: .4em;
		padding: .2em;

		border: 2px solid $borderColor;
	}
}

.piece-list {
	@extend %flow-list;

	img {
		width: 60px;
		height: auto;
	}

	> div {
		@include display-flex;
		@include align-items(center);

		width: 230px;
		padding-left: .6em;
		font-size: 1.05em;

		> :first-child {
			padding-right: .5em;
		}

		> :nth-child(2) {
			@include flex(1);
		}
	}
}

.terrain-list {
	@extend %flow-list;

	@include justify-content(space-around);
	text-align: center;

	img {
		width: 60px;
		height: auto;
	}

	.icon {
		// to make the abolute positioning of the pieces works
		position: relative;
	}

	img.piece {
		position: absolute;
		top: 0;
		left: 0;
	}

	> div {
		@include display-flex;
		@include align-items(center);
		@include justify-content(space-between);

		// 320px (lowest supported resolution)
		// - 2 * 16px (site padding)
		// - 2 * 5px (margin)
		width: 278px;

		> :nth-child(2) {
			@include flex(1);
		}
	}
}

.picture-grid,
.movement-interference-grid {
	@include display-flex;
	@include flex-wrap(wrap);
	@include justify-content(space-around);
}

@include respond-to-more-than($break-medium) {
	.movement-interference-grid {
		img:nth-child(1) { @include order(1); }
		img:nth-child(2) { @include order(4); }
		img:nth-child(3) { @include order(2); }
		img:nth-child(4) { @include order(5); }
		img:nth-child(5) { @include order(3); }
		img:nth-child(6) { @include order(6); }
	}
}
