// SCSS @mixins
@import "flexbox", "respond-to";

// SCSS $variables
@import "variables";

// Partial SCSS
@import
	"layout",
	"header",
	"game",
	"input",
	"misc";

/*
.random-matches-wrap {
	@include display-flex;
	@include flex-wrap(wrap);
	margin-bottom: 1em;
}

.random-match {
	padding: .5em;
	margin: 0 1em 0 0;
	border: 2px solid $borderGrey;
	cursor: pointer;
	transition: background-color .2s;
}

.random-match:hover {
	background-color: #ddd;
}
*/
