/* font */
@font-face {
  font-family: 'Morpheus';
  src: url('/morpheus.ttf');
}

/* border-box fix */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* page layout */
$footerHeight: 2em;

html, body {
    height: 100%;
    width: 100%;
}

.page-wrap {
	width: 100%;
    min-height: 100%;
	margin-bottom: -$footerHeight;

    &:after {
        content: "";
        display: block;
    }
}

.page-footer,
.page-wrap:after {
    height: $footerHeight;
}

.page-footer {
    // probably quite ugly but I'm lazy right now
    .container {
        display: flex;
        justify-content: space-between;
    }

    padding: 0 .4em;
    width: 100%;

	position: relative;
	line-height: 1.9em;
	line-height: calc(2em - 1px);

    border-top: 2px solid #aaa;
}

.page-header {
    padding: .2em 0;

    background-color: #fff;
    border-bottom: 2px solid #aaa;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/** inside .page-header **/
.logo {
	font-family: Morpheus;
	font-size: 2.2em;
	color: #000;
}

.badge {
    background: #000;
    border-radius: .2em;
    color: #fff;
    padding: 0 .2em;
    font-size: .8em;
    margin-left: .2em;
}

#status {
	margin-left: 18%;
	line-height: 2.5em;
	font-weight: bold;
	color: #888;
}

/** inside .page-wrap **/
.padded {
	padding: 1em;
}

.boxed + .boxed {
	border-left: 1px solid #333;
}

.side-pane {
	width: 450px;
}

.page-content {
    margin: 1em auto;
}

.page-content > h1:first-child {
	margin-top: 0;
}

.rule-set-new-tab-box {
	position: absolute;
	top: 1em;
	right: 1em;
}

.random-matches-wrap {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1em;
}

.random-match {
	padding: .5em;
	margin: 0 1em 0 0;
	border: 1px solid #333;
	cursor: pointer;
	transition: background-color .2s;
}

.random-match:hover {
	background: #ddd;
}

.game-wrap {
	width: 75%;
	overflow: auto;
	text-align: center;
	vertical-align: middle !important;
}

/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
canvas {
	padding: 0;
	border: 0 none;
}

.logbox {
	/* not quite elegant */
	position: absolute;
	top: 2.5em;
	bottom: 2em;
	width: 25%;
}

/* I am normally the kind of person to care about code style and performance,
   even for CSS selectors... But I'm generally only doing what works for me with
   the CSS at the moment so I don't give a F about the awfulness of this rule! */
.logbox > * {
	width: 100%;
}

.scroll-to-bottom {
	position: absolute;
	top: -2em;
	height: 2em;
	line-height: 2em;

	border: 0 none;
	border-bottom: 1px solid #000;
	background-color: #eee;
	cursor: pointer;
	transition: background-color .2s;

	z-index: 1;
}

.scroll-to-bottom:hover {
	background-color: #ddd;
}


.scroll-to-bottom > div {
	font-size: .9em;
	text-align: center;
}

.message-area {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 3.95em;
	padding: .3em;
	overflow-y: auto;
}

.logbox-msg {
	word-wrap: break-word;
	margin: .2em .3em;
}

.status-msg {
	color: #666;
}

.chat-input {
	resize: none;
	height: 3.95em;
	width: 100%;
	border: 0 none;
	display: block;
	padding: .2em .3em;
	outline: none;
	box-shadow: none;
}

/* general styling */
a {
	text-decoration: none;
}

button {
	padding: .6em;
	border: 1px solid #888;
	background-color: #eee;
	transition: background-color .2s;
}

button:hover {
	background-color: #ddd;
}

button:disabled {
	color: #888;
	background-color: #fff;
}

td {
    padding-right: 1em;
}

/** works in chromium, probably the worst way to do this **/
hr {
	border-style: solid;
	border-top: none;
}

/* general-purpose css classes */
.rel-positioned {
	position: relative;
}

.stick-to-bottom {
	position: absolute;
	bottom: 0;
}

.separator-h {
	height: 0;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #000;
}

.notification {
	position: fixed;
	top: 4em;
	right: 1em;
}

@import "animation";
