/* page layout */
#page-header, #page-wrap, #page-footer {
	position: fixed;
	left: 0;
	right: 0;
}

#page-header {
	top: 0;
	height: 50px;

	border-bottom: 1px solid #333;
}

#page-wrap {
	/* one additional pixel because of the 1px border */
	top: 51px;
	bottom: 21px;
}

#page-footer {
	bottom: 0;
	height: 20px;

	border-top: 1px solid #333;

	font-size: 0.8em;
	line-height: 20px;
}

/** inside #page-header **/
#logo {
	padding-left: 15px;
	line-height: 50px; /* can be removed if the text is replaced with a graphic */
}

/** inside #page-wrap **/
#page-content, #side-pane {
	height: 100%;
	padding: 10px;
	float: left;
}

#page-content {
	width: 70%;

	overflow-x: auto;
}

#side-pane {
	width: 30%;
}

/** inside #page-footer **/
#page-footer-left {
	margin-left: 2px;
}

#page-footer-right {
	margin-right: 2px;
}

/* general styling */
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}
