/* page layout */
html,
body {
	height: 100%;
}

body {
	overflow-x: hidden;
}

#page-header,
#page-footer {
	width: 100%;
}

#page-header {
	position: fixed;
	top: 0;
	height: 3em;
	line-height: 3em;

	border-bottom: 1px solid #333;
	background-color: #fff;
	z-index: 2;
}

#page-outer-wrap {
	display: table;
	/* min-height would be better, but this works everywhere and FF doesn't want min-height */
	height: 100%;
	width: 100%;
	padding-top: 3em;
	padding-bottom: 2em;
}

#page-wrap {
	display: table-row;
}

#page-wrap > :not(script) {
	display: table-cell;
	vertical-align: top;
}

#page-footer {
	position: relative;
	margin-top: -2em;
	height: 2em;
	line-height: 1.9em; /* FF 31 doesn't accept calc(2em - 1px) */
	line-height: calc(2em - 1px);

	border-top: 1px solid #333;
}

/** inside #page-header **/
#logo {
	margin-left: 1em;
}

#status {
	margin-left: 18%;
	line-height: 3em;
	font-weight: bold;
	color: #888;
}

/** inside #page-wrap **/
.padded {
	padding: 1em;
}

.boxed + .boxed {
	border-left: 1px solid #333;
}

.side-pane {
	width: 450px;
}

#create-join-option {
	font-weight: bold;
}

#option-extras {
	display: none;
}

#news {
	margin-top: 3em;
}

#game-wrap {
	width: 75%;
	overflow: auto;
	text-align: center;
	vertical-align: middle !important;
}

/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
canvas {
	padding: 0;
	border: 0 none;
}

#logbox {
	/* not quite elegant */
	position: absolute;
	top: 3em;
	bottom: 2em;
	width: 25%;
}

/* I am normally the kind of person to care about code style and performance,
   even for CSS selectors... But I'm generally only doing what works for me with
   the CSS at the moment so I don't give a F about the awfulness of this rule! */
#logbox > * {
	width: 100%;
}

.scroll-to-bottom {
	position: absolute;
	top: -2em;
	height: 2em;
	line-height: 2em;

	border: 0 none;
	border-bottom: 1px solid #000;
	background-color: #eee;
	cursor: pointer;

	z-index: 1;
}

.scroll-to-bottom:hover {
	background-color: #ddd;
}


.scroll-to-bottom > div {
	font-size: .9em;
	text-align: center;
}

.message-area {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 3.95em;
	padding: .3em;
	overflow-y: auto;
}

.logbox-msg {
	word-wrap: break-word;
	margin: .2em .3em;
}

.status-msg {
	color: #666;
}

.chat-input {
	resize: none;
	height: 3.95em;
	width: 100%;
	border: 0 none;
	display: block;
	padding: .2em .3em;
	outline: none;
	box-shadow: none;
}

/** inside #page-footer **/
#page-footer > * {
	position: absolute;
	font-size: .9em;
}

#page-footer-left {
	left: .5em;
}

#page-footer-right {
	right: .5em;
}

/* general styling */
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

button {
	padding: .6em;
	border: 1px solid #888;
	background-color: #eee;
}

button:hover {
	background-color: #ddd;
}

button:disabled {
	color: #888;
	background-color: #fff;
}

th {
	padding: .5em 1em;
	text-align: left;
}

td {
	padding: 0 1em;
}

/** works in chromium, probably the worst way to do this **/
hr {
	border-style: solid;
	border-top: none;
}

/* general-purpose css classes */
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

.stick-to-bottom {
	position: absolute;
	bottom: 0;
}

.separator-h {
	height: 0;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #000;
}

.notification {
	position: fixed;
	top: 4em;
	right: 1em;
}

.ani-loading-dot {
	animation-name: loading;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	position: relative;
	display: inline-block;
	width: .9em;
	text-align: left;
}

@keyframes loading {
	0%   { left: 0 }
	33%  { left: 0 }
	34%  { left: .3em }
	66%  { left: .3em }
	67%  { left: .6em }
	100% { left: .6em }
}

/** Selection 'boxes' (side pane) **/
.option input[type='radio'],
.option input[type='checkbox'] {
	display: none;
}

.option label {
	display: inline-block;
	padding: .4em;
	border-style: solid;
	border-width: 1px;
	border-color: #888;
	transition: background-color .2s;
}

.option label:hover {
	background-color: #eee;
}

.option input:checked + label {
	background-color: #00a7ff;
}

.option input:disabled + label {
	color: #888;
	background-color: #fff;
}

.option input:checked:disabled + label {
	background-color: #7fd7ff;
	transition: background-color .4s linear;
}

.option-vertical label {
	width: 100%;
}

.option-vertical label:not(:last-of-type) {
	border-bottom-width: 0;
}

.option-horizontal-2 label {
	width: 50%;
	float: left;
	text-align: center;
}

.option-horizontal-2 label:not(:last-of-type) {
	border-right-width: 0;
}
