/* page layout */
#page-header, #page-wrap, #page-footer {
	position: fixed;
	left: 0;
	right: 0;
}

#page-header {
	top: 0;
	height: 50px;

	border-bottom: 1px solid #333;
}

#page-wrap {
	/* one additional pixel because of the 1px border */
	top: 51px;
	bottom: 21px;
}

#page-footer {
	bottom: 0;
	height: 20px;

	border-top: 1px solid #333;

	font-size: 0.8em;
	line-height: 20px;
}

/** inside #page-header **/
#logo {
	padding-left: 15px;
	line-height: 50px; /* can be removed if the text is replaced with a graphic */
}

#emscripten-header {
	position: absolute;
	top: 0;
	left: 20%;
	height: 40px;
	margin: 5px;
}

#status {
	line-height: 40px;
	font-weight: bold;
	color: #888;
}

/** inside #page-wrap **/
#page-wrap > main:nth-child(2),
#page-wrap > aside:nth-child(2) {
	border-left: 1px solid #333;
}

#page-content-wrap, #side-pane-wrap {
	height: 100%;
	float: left;
}

#page-content-wrap {
	width: 70%;
	overflow-y: auto;
}

#side-pane-wrap {
	width: 30%;
}

#page-content, #side-pane {
	margin: 1.5em;
}

#side-pane input[type='radio'] {
	display: none;
}

#side-pane label {
	display: block;
	width: 100%;
	padding: 0.4em;
	border-style: solid;
	border-width: 1px 1px 0 1px;
	border-color: #999;
}

#side-pane label:last-of-type {
	border-bottom-width: 1px;
}

#side-pane label:hover {
	background-color: #eee;
}

#side-pane input[type='radio']:checked + label {
	background-color: #00a7ff;
}

#side-pane input[type='radio']:disabled + label {
	color: #999;
	background-color: #fff;
}

#game-settings {
	display: none;
}

/** inside #page-footer **/
#page-footer-left {
	margin-left: 2px;
}

#page-footer-right {
	margin-right: 2px;
}

/* general styling */
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

button {
	padding: 0.6em;
	border: 1px solid #999;
	background-color: #eee;
}

button:hover {
	background-color: #ddd;
}

th {
	padding: 0.5em 1em;
	text-align: left;
}

td {
	padding: 0 1em;
}

/** works in chromium, probably the worst way to do this **/
hr {
	border-style: solid;
	border-top: none;
}

/* general-purpose css classes */
.stick-to-bottom {
	position: absolute;
	bottom: 0;
}

.notification {
	position: fixed;
	top: 70px;
	right: 20px;
}

.ani-loading-dot {
	animation: loading 1s linear 0 infinite;
	position: relative;
}

@keyframes 'loading' {
	0%   { left: 0 }
	33%  { left: 0 }
	34%  { left: .3em }
	66%  { left: .3em }
	67%  { left: .6em }
	100% { left: .6em }
}

/*
@keyframes 'loading' {
	0%  { background-color: "#666" }
	33% { background-color: "#abc" }
	67% { background-color: "#f4e" }
}
*/
